<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
			.errorlist {
				color: red;
				list-style-type: none;
				padding: 0;
			}
        </style>
    </head>
    <body>
        <form method='post' action="{% url 'registration:form' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
